<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RaptorContentObjectsSeeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RaptorContentObjectsSeeder.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Dave Gordon</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ABBA566B89891F77C5A9121371A0A15A5B941F6CA9CFF2B19AB396D2A6B2782215E10393439918F86ABA07A870743CE4C97786D9B093C975676C55F4A401E3B4</value>
            </setting>
        </RaptorContentObjectsSeeder.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="MyTcpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:30:00" sendTimeout="00:30:30" maxReceivedMessageSize="9223372036854775807">
                    <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520" />
                </binding>
                <binding name="MyTcpBinding1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ccs-labs.com:802/RaptorService" binding="netTcpBinding" bindingConfiguration="MyTcpBinding" contract="RaptorContentObjectsSeeder.RaptorService.IRaptorService" name="MyTcpBinding">
                <identity>
                    <userPrincipalName value="WebServer9\Dave" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ccs-labs.com:802/RaptorService" binding="netTcpBinding" bindingConfiguration="MyTcpBinding1" contract="RaptorService.IRaptorService" name="MyTcpBinding1">
                <identity>
                    <userPrincipalName value="WebServer9\Dave" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
 <connectionStrings>
   <add name="RaptorEntities" connectionString="metadata=res://*/RaptorEntities.csdl|res://*/RaptorEntities.ssdl|res://*/RaptorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WebServer9;initial catalog=Raptor;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>