<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logEntireMessage="true" logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />      
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MyTcpBinding" maxReceivedMessageSize="9223372036854775807" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:30:00" sendTimeout="00:30:30">
          <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520"  />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="RaptorService.RaptorService">
        <endpoint address="RaptorService" binding="netTcpBinding" bindingConfiguration="" name="MyTcpBinding" contract="RaptorService.IRaptorService"     />
        <host>
          <baseAddresses>
            <add baseAddress="http://ccs-labs.com:801/" />
            <add baseAddress="net.tcp://ccs-labs.com:802" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="RaptorEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=WebServer9;initial catalog=Raptor;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>